---
import Blog from './Blog.astro';
import blogData from '../../data/blogData';

---

<div class="px-20 grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-4">
  {blogData.map((blog) => (
    <Blog 
      image={blog.image}
      title={blog.title}
      subtitle={blog.subtitle}
      author={blog.author}
      text={blog.text}
    />
  ))}
</div>
<>
</>