---
import Profile from './Profile.astro';
import {profileData} from '../../data/profileData'
import ProfileHeader from './ProfileHeader.astro';
---
<section id="authors" class="bg-MidBlue mt-8">
  <ProfileHeader/>
    <div class="px-20 pb-8 grid grid-cols-1 gap-4">
      {profileData.map((profile) => (
        
        <Profile
        author={profile.author}
        image={profile.image}
        topic={profile.topic}
        description={profile.description}
        profile={profile.profile}
/>
  ))}
</div>
</section>